@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
header{
}

html{
  font-family: 'Raleway', sans-serif;
}


body{
    background-color: #000000;
    margin: 0;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: aliceblue;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 3;
    color: aliceblue
}

h3{
  font-size:30px;
  font-weight: 2;


}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 5;
    color: aliceblue;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 35px;
  height: 500px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row1 img{
padding-left: 150px;
}



.row1 button{
border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 10px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  padding-left: 120px;
  padding-right: 120px;
  font-size: 20px;
}

.row1 button:hover {
  background-color: #160816;
  color: white;
}
  

.row1{
  background-color:#160816;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:35px;
  padding-right: 25px;
}
.topnav {
  overflow: hidden;
  background-color: #7F6E64;
  padding-left:px;
  padding-top: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  padding: 15px;

  padding-left: 25px;
  padding-right: 25px;
  height: 75px;
  vertical-align: middle;
}

.topnav a:hover {
  background-color: #7F6E64;
  color: #870533;
  height: 75px;
  
}

.topnav a.active {
  background-color: #7F6E64;
  color: #870533;
  height: 75px;
}

.overlay {
  position: relative;
  float: left;
  cursor: pointer;
}

.overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/headerbackground.jpg");
  height: 50%;
  padding-top: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding-bottom:75px;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 10px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
  padding-left: 120px;
  padding-right: 120px;
}

.hero-text button:hover {
  background-color: #160816;
  color: white;
}
  